<app-header>
  <p levels>Cars</p>
  <div content>Lista samochodów w serwisie</div>
</app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="cs-table table table-striped">
        <thead>
          <tr>
            <th>car</th>
            <th>plate</th>
            <th>delivery date</th>
            <th>deadline</th>
            <th>client</th>
            <th>cost</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row-car" *ngFor="let car of this.cars; let i = index" (click)="goToCar(car)">
            <td [ngClass]="{'row-error': car.isFullyDamaged === true}">{{car?.model}}</td>
            <td>{{car?.plate}}</td>
            <td>{{car?.deliveryDate}}</td>
            <td>{{car?.deadline}}</td>
            <td>{{car?.clientFirstName}} {{car?.clientSurname}}</td>
            <td>{{car?.cost}}</td>
            <td>Action placeholder</td>
          </tr>
        </tbody>
      </table>
      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>Brak samochodów w serwisie</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button (click)="this.showGrossFromParentComponent()" class="btn btn-primary btn-sm float-right">Kwota Brutto przez referencję</button>
    </div>
  </div>
  <app-total-cost #totalCostRef [totalCost]="this.totalCost" (shownGross)="this.onShowGrossFromTotalCost($event)"></app-total-cost>

  <div class="row" *ngIf="this.grossShown">
    <div class="col-sm-12">
      <div class="total-cost">
        <p class="text-right">Kwota brutto {{this.grossShown}}</p>
      </div>
    </div>
  </div>

  <p class="data-header">Dodaj Nowy samochod</p>
  <div class="data-container">
    <form [formGroup]="this.carForm">
      <div class="row form-group">
        <div class="col-sm-4">
          <label>Model</label>
          <input formControlName="model" type="text" class="form-control" placeholder="Model">
          <p *ngIf="!this.carForm.get('model').valid && this.carForm.get('model').dirty" class="error">To pole jest wymagane !</p>
        </div>
        <div class="col-sm-4">
          <label>Typ</label>
          <input formControlName="type" type="text" class="form-control" placeholder="Typ">
        </div>
        <div class="col-sm-4">
          <label>Plate</label>
          <input formControlName="plate" type="text" class="form-control" placeholder="Plate">
          <p *ngIf="!this.carForm.get('plate').valid  && this.carForm.get('plate').dirty" class="error">To pole jest wymagane i musi mieć od 3 do 7 znaków !</p>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-4">
          <label>Delivery Date</label>
          <input formControlName="deliveryDate" type="text" class="form-control" placeholder="Delivery Date">
        </div>
        <div class="col-sm-4">
          <label>Dead Line</label>
          <input formControlName="deadline" type="text" class="form-control" placeholder="Dead Line">
        </div>
        <div class="col-sm-4">
          <label>Kolor</label>
          <input formControlName="color" type="text" class="form-control" placeholder="Kolor">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-4">
          <label>Moc</label>
          <input formControlName="power" type="text" class="form-control" placeholder="Moc">
        </div>
        <div class="col-sm-4">
          <label>Imię Właściciela</label>
          <input formControlName="clientFirstName" type="text" class="form-control" placeholder="Imię">
        </div>
        <div class="col-sm-4">
          <label>Nazwisko Właściciela</label>
          <input formControlName="clientSurname" type="text" class="form-control" placeholder="Nazwisko">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-4">
          <label>Koszt</label>
          <input formControlName="cost" type="text" class="form-control" placeholder="Koszt">
        </div>
        <div class="col-sm-4">
          <label>Rocznik</label>
          <input formControlName="year" type="text" class="form-control" placeholder="Rocznik">
        </div>
        <div class="col-sm-4">
          <label>
            Uszkodzony
            <input formControlName="isFullyDamaged" type="checkbox" class="form-control">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary float-right" [disabled]="this.carForm.invalid" (click)="this.sendAddingCar()">Dodaj Samochód</button>
          <button (click)="this.carForm.reset()" class="btn btn-danger float-right">Wyczyść</button>
        </div>
      </div>
    </form>
  </div>
</div>